<div *ngIf="logging==false">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>VER SOLICTUDES</mat-card-title>
      <mat-card-subtitle>SOLICITUDES</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="ruta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> RUTA </th>
            <td mat-cell *matCellDef="let row"> {{row.ruta}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA </th>
            <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO </th>
            <td mat-cell *matCellDef="let row">
              <h3 *ngIf="row.estado">ACEPTADO</h3>
              <h3 *ngIf="!row.estado">ESPERA</h3>
            </td>
          </ng-container>
          <!-- Fruit Column -->
          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CANCELAR </th>
            <td mat-cell *matCellDef="let row">
              <button mat-flat-button color="warn" (click)="eliminarsolicitar(row)">CANCELAR PEDIDO</button>
            </td>
          </ng-container>
          <!-- Fruit Column -->
          <ng-container matColumnDef="continuar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CONTINUAR </th>
            <td mat-cell *matCellDef="let row">
              <button mat-flat-button color="accent" [disabled]="!row.estado" [routerLink]="['/inicio/nuevomanifiesto',row.charterId]">
                CONTINUAR CON MANIFIESTO</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="logging">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
  <mat-progress-bar mode="query" color="accent"></mat-progress-bar>
</div>

