.example-card {
  max-width: 500px;
  margin: 1% auto;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
input[type="file"] {
  width: 100%;
  font-size: 17px;
  color: #262020;
  background-color: #e39c51;
}
.files{
  width: 100%;
  border-radius: 5px;
  border: 1px solid #262020;
  height: 52px;
}
input[type="file"]::-webkit-file-upload-button{
  color: #262020;
  font-size: 17px;
  background-color: #6897b7;
  width: 50%;
  height: 50px;
}
