<div>
  <mat-stepper [linear]="isLinear" #stepper style="width: 50%; margin: 1% auto">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Avion y Tipo</ng-template>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Datos inicales</mat-card-title>
            <mat-card-subtitle>Inicio</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Selecione al avion</mat-label>
              <mat-select formControlName="avionid">
                <mat-option *ngFor="let avion of aviones" [value]="avion.id">Nombre: {{avion.nombre}} Placa: {{avion.placa}} NºAsientos: {{aviones.length}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Tipo de vuelo</mat-label>
              <mat-select  #coffee formControlName="tipoVueloRequest" [compareWith]="objectComparisonFunction" [disabled]="true">
                <mat-option *ngFor="let tipos of tiposvuelos" [value]="tipos">{{tipos.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%" *ngIf="char">
              <mat-label>Usuario carter charter</mat-label>
              <mat-select formControlName="ucharterResponse" [compareWith]="objectComparisonFunction">
                <mat-option *ngFor="let charter of charter" [value]="charter">RUC:{{charter.ruc}} Nombre:{{charter.empresa}} Correo:{{charter.usuario?.email}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date & time" formControlName="fechaVuelo">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button color="accent" matStepperNext>Siguente</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Rutas y Horario">
      <form [formGroup]="secondFormGroup">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Datos inicales</mat-card-title>
            <mat-card-subtitle>Inicio</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Seleccione la ruta</mat-label>
              <mat-select formControlName="rutaRequest" [compareWith]="objectComparisonFunction">
                <mat-option *ngFor="let ruta of rutas" [value]="ruta">Origen: {{ruta.origen}} -Destino: {{ruta.destino}} -Descripción: {{ruta.descripcion}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Seleccione el horario</mat-label>
              <mat-select formControlName="horarioRequest" [compareWith]="objectComparisonFunction">
                <mat-option *ngFor="let horario of horarios" [value]="horario">Inicio: {{horario.fechaInicio}} Fin: {{horario.fechaFin}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always" style="width: 100%">
              <mat-label>Ingrese el precio de vuelo</mat-label>
              <input matInput type="number" class="example-right-align" placeholder="0" formControlName="precio">
              <span matPrefix>$&nbsp;</span>
              <span matSuffix>.00</span>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button color="warn" matStepperPrevious>Atras</button>
            <button mat-flat-button color="accent" matStepperNext style="margin-left: 2px">Siguente</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirtFormGroup" label="Confirmar">
      <form [formGroup]="thirtFormGroup">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Final</mat-card-title>
            <mat-card-subtitle>Confirmar</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Estado</mat-label>
              <mat-select formControlName="estado">
                <mat-option [value]="true">Activo</mat-option>
                <mat-option [value]="false">Inactivos</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Observaciones</mat-label>
              <textarea matInput formControlName="observacion"></textarea>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button color="warn" matStepperPrevious>Atras</button>
            <button mat-flat-button color="primary"  style="margin-left: 2px" (click)="actualizarVuelo()" [disabled]="thirtFormGroup.invalid">GUARDAR</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </mat-step>
  </mat-stepper>

</div>

