<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body *ngIf="logging==false">
<mat-drawer-container class="example-container" autosize>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" color="warn" (click)="drawer.toggle()" *ngIf="emplados.id!=null">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="tool logo">
      <a [routerLink]="['inicio/home']">
        <span><img src="assets/icons/vuela_v1.png"/></span>
      </a>
    </div>
    <span class="example-spacer"></span>
    <button mat-stroked-button style="margin-right: 0.5%" [routerLink]="['/inicio/vuelos']">VUELOS</button>
    <button mat-stroked-button  style="margin-left: 0.5%" [routerLink]="['/inicio/promociones']">PROMOCIONES</button>
    <span class="example-spacer"></span>
    <button *ngIf="sesion" mat-flat-button color="accent" [routerLink]="['/inicio/inicarsesion']">INICIAR SESION</button>
    <button *ngIf="emplados.cargoDto?.siglas=='AD'" mat-button [matMenuTriggerFor]="menu"> {{emplados.nombre}} {{emplados.apellido}} </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/inicio/editarperfil-em',emplados.usuario?.id]">EDITAR PERFIL</button>
      <button mat-menu-item (click)="cerrarSesion()">Cerrar Sesión</button>
    </mat-menu>
    <button *ngIf="emplados.cargoDto?.siglas=='JO'||emplados.cargoDto?.siglas=='AT'" mat-button [matMenuTriggerFor]="menu"> {{emplados.nombre}} {{emplados.apellido}} </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/inicio/editarperfil-em',emplados.usuario?.id]">EDITAR PERFIL</button>
      <button mat-menu-item (click)="cerrarSesion()">Cerrar Sesión</button>
    </mat-menu>
    <button *ngIf="charter.id!=null" mat-button [matMenuTriggerFor]="menu2"> {{charter.empresa}}</button>
    <mat-menu #menu2="matMenu">
      <button mat-menu-item [routerLink]="['/inicio/editarperfil-cha',charter.usuario?.id]">EDITAR PERFIL</button>
      <button mat-menu-item [routerLink]="['/inicio/vuevasolicitud']">SOLICITAR AVION</button>
      <button mat-menu-item [routerLink]="['/inicio/versolicitud',charter?.id]">VER SOLICITUDES</button>
      <button mat-menu-item [routerLink]="['/inicio/vermanifiesto-cha',charter.id]">VER MANIFIESTOS</button>
      <button mat-menu-item [routerLink]="['/inicio/vervueloscharter-cha',charter.id]">VER VUELOS</button>
      <button mat-menu-item (click)="cerrarSesion()">Cerrar Sesión</button>
    </mat-menu>
    <button *ngIf="pasajero.id!=null" mat-button [matMenuTriggerFor]="not">
      <mat-icon matBadge="{{notificacions.length}}" matBadgeColor="warn">notifications</mat-icon>
    </button>
    <mat-menu #not="matMenu">
      <div *ngFor="let notificacions of notificacions">
        <mat-card style="margin-top: 1%">
          Recuerde que tiene un vuelo el dia : {{notificacions.fecha | date:'medium'}}
          al destino {{notificacions.destino}}
          vuelo {{notificacions.vueloId}}
        </mat-card>
      </div>
    </mat-menu>
    <button *ngIf="pasajero.id!=null" mat-button [matMenuTriggerFor]="menu3">{{pasajero.nombre}} {{pasajero.apellido}}</button>
    <mat-menu #menu3="matMenu">
      <button mat-menu-item [routerLink]="['/inicio/editarperfil-pa',pasajero.usuario?.id]">EDITAR PERFIL</button>
      <button mat-menu-item [routerLink]="['/inicio/verbolestos',pasajero.id]">MIS VUELOS</button>
      <button mat-menu-item (click)="cerrarSesion()">Cerrar Sesión</button>
    </mat-menu>
  </mat-toolbar>
  <mat-drawer #drawer class="example-sidenav" mode="over" >
    <div *ngIf="emplados.cargoDto?.siglas=='AD'">
      <h3>ADMINISTRACIÓN</h3>
      <strong>EMPLEADOS</strong><br>
      <button mat-flat-button class="mat-boton" [routerLink]="'/inicio/nuevoempleado'" (click)="drawer.toggle()">NUEVO EMPLADO</button><br>
      <button mat-flat-button class="mat-boton" [routerLink]="'/inicio/verempledos'" (click)="drawer.toggle()">VER EMPLADO</button>
      <div style="height: 9px; width: 100%; background-color:#f57c00"></div>
      <strong>AVIONES</strong><br>
      <button mat-flat-button class="mat-boton" [routerLink]="'/inicio/nuevoavion'" (click)="drawer.toggle()">NUEVO AVION</button><br>
      <button mat-flat-button class="mat-boton" [routerLink]="'/inicio/veraviones'" (click)="drawer.toggle()">VER AVIONES</button>
      <mat-divider></mat-divider>
      <strong>RUTAS</strong><br>
      <button mat-flat-button class="mat-boton" [routerLink]="'/inicio/vuevaruta'" (click)="drawer.toggle()">NUEVA RUTA</button><br>
      <button mat-flat-button class="mat-boton" [routerLink]="'/inicio/verrutas'" (click)="drawer.toggle()">VER RUTAS</button>
      <mat-divider></mat-divider>
      <div style="height: 9px; width: 100%; background-color:#f57c00"></div>
      <strong>HORARIOS</strong><br>
      <button mat-flat-button class="mat-boton" [routerLink]="'/inicio/vuevohorario'" (click)="drawer.toggle()">NUEVO HORARIO</button><br>
      <button mat-flat-button class="mat-boton" [routerLink]="'/inicio/verhoraios'" (click)="drawer.toggle()">VER HORARIOS</button>
      <mat-divider></mat-divider>
      <div style="height: 9px; width: 100%; background-color:#f57c00"></div>
      <strong>PROMOCIONES</strong><br>
      <button mat-flat-button class="mat-boton" [routerLink]="'/inicio/vuevopromocion'" (click)="drawer.toggle()">NUEVA PROMOCION</button><br>
      <button mat-flat-button class="mat-boton"  [routerLink]="'/inicio/verpromociones'" (click)="drawer.toggle()">VER PROMOCIONES</button>
      <mat-divider></mat-divider>
      <div style="height: 9px; width: 100%; background-color:#f57c00"></div>
      <strong>REPORTES</strong><br>
      <button mat-flat-button class="mat-boton" [routerLink]="'/inicio/reportesfactura'" (click)="drawer.toggle()">FACTURACIÓN</button><br>
      <button mat-flat-button class="mat-boton" [routerLink]="'/inicio/reportesvuelo'" (click)="drawer.toggle()">VUELOS</button>
      <mat-divider></mat-divider>
    </div>
    <div *ngIf="emplados.cargoDto?.siglas=='JO'">
      <h3>AGENTE DE TRÁFICO</h3>
      <strong>VUELOS</strong><br>
      <button mat-flat-button class="mat-boton" [routerLink]="'/inicio/nuevovuelo'" (click)="drawer.toggle()">NUEVO NUEVO</button><br>
      <button mat-flat-button class="mat-boton" [routerLink]="'/inicio/vervuelos'" (click)="drawer.toggle()">VER VUELOS</button>
      <div style="height: 9px; width: 100%; background-color:#f57c00"></div>
      <strong>Solicitudes charter</strong><br>
      <button mat-flat-button class="mat-boton" [routerLink]="'/inicio/versolicitud-jo'" (click)="drawer.toggle()">VER SOLICITUDES</button><br>
      <button mat-flat-button class="mat-boton" [routerLink]="'/inicio/vermanifiesto-at'" (click)="drawer.toggle()">VER MANIFIESTOS</button>
      <div style="height: 9px; width: 100%; background-color:#f57c00"></div>
      <strong>Registrar pasajeros de usuario charter</strong><br>
      <button mat-flat-button class="mat-boton" [routerLink]="'/inicio/vervueloscharter'" (click)="drawer.toggle()">REGISTRAR</button><br>
      <div style="height: 9px; width: 100%; background-color:#f57c00"></div>
    </div>
    <div *ngIf="emplados.cargoDto?.siglas=='AT'">
      <h3>JEFE DE OPEREACIONES</h3>
      <strong>VUELOS</strong><br>
      <button mat-flat-button class="mat-boton" [routerLink]="'/inicio/verboletos-at'" (click)="drawer.toggle()">VER BOLETOS</button><br>
    </div>
  </mat-drawer>
  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
</body>
<div *ngIf="logging">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
  <mat-progress-bar mode="query" color="accent"></mat-progress-bar>
</div>
</html>

