.example-spacer {
  flex: 1 1 auto;
}
.example-container {
  background-image: url("src/assets/icons/fondo.jpg");
  background-size: cover;
  min-height: 100vh;
  height: auto;
  margin: 0;
}

.example-sidenav-content {
  width: 100%;
  height: auto;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  color: white;
  background-color: #607d8b;
  padding: 5px;
  width: 200px;
  text-align: center;
}
.mat-boton{
  width: 100%;
  margin-bottom: 5px;
}


