.example-card {
  margin: 1% auto;
  max-width: 500px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.example-spacer {
  flex: 1 1 ;
}
