<div class="body">

  <section id="pimera-info">
    <h2>Podrás solicitar asistencia especial en los siguientes casos:</h2>
    <p>Discapacidad física, sensorial o cognitiva, movilidad reducida, tercera edad, embarazo, mamá con bebé.
      Te recomendamos realizar este requerimiento mínimo con 48 horas de antelación (sujeto a disponibilidad).
      Al momento de abordar, durante el vuelo y al llegar a tu destino, te asistiremos en:</p>
    <ul>
      <li>•Acceso a un counter de servicios especiales en aeropuerto.</li>
      <li>• Prioridad para el proceso de embarque.</li>
      <li>• Prioridad en recepción de equipaje al llegar a tu destino.</li>
      <li>• Obtener orientación en tus trámites de migración o aduana.</li>
      <li>• Pasajeras embarazadas (de 29 a 39 semanas): Presentar certificado médico donde incluya fechas de viaje, destino y semanas de gestación.<br>
        A partir de la semana 40 no podrán viajar.</li>
    </ul>

    <h2>Niños no acompañados:</h2>
    <p>
      Se brindará asistencia a niños, niñas y adolescentes hasta los 12 años. * Adolescentes entre 12 y 17 años es considerado como servicio optativo.
    </p>

    <h2>¿Cómo funciona?</h2>
    <ul>
      <li>• Un funcionario de la aerolínea acompañará al menor durante todo el proceso de embarque hasta abordar el avión, donde el tripulante asignado, estará pendiente de su atención durante todo el vuelo.
        Finalmente, entregará a la persona autorizada por los padres .
        </li>
      <li>• Al llegar a su destino, el funcionario de la aerolínea acompañará al menor a desembarcar y retirar su equipaje. </li>
      <li> • Valor del servicio: 25 USD por vía.</li>
    </ul>


  </section>

    <section id="contactos">

        <div class="content">

            <h2 class="logo">Contactanos</h2>

            <div class="contact-wrapper animated bounceInUp">
                <div class="contact-form">

                    <form action="https://formsubmit.co/osoft035@gmail.com" method="POST">
                        <p>
                            <label>Nombre</label>
                            <input type="text" name="nombre">
                        </p>
                        <p>
                            <label>Email</label>
                            <input type="email" name="email">
                        </p>
                        <p>
                            <label>Numero Tel/cel</label>
                            <input type="tel" name="telefono">
                        </p>
                        <p>
                            <label>Asunto</label>
                            <input type="text" name="asunto">
                        </p>
                        <p class="block">
                            <label>Mensaje</label>
                            <textarea name="mensaje" rows="3"></textarea>
                        </p>
                        <p class="block">
                            <button type="submit">
                                Enviar
                            </button>
                        </p>
                    </form>
                </div>

                <div class="contact-info">
                    <h4>Mas informacion</h4>
                    <ul>
                        <li><i class="fas fa-map-marker-alt"></i>Av. España, Cuenca 010107</li>
                        <li><i class="fas fa-phone"></i>Tel/cel: (02)234020/(+593) 0991954532</li>
                        <li><i class="fas fa-envelope-open-text"></i>vuelaV@gmail.com</li>
                    </ul>
                    <p>Si requiere que alguien de nuestro personal se ponga en contacto con usted,porfavor rellenar el
                        siguiente formulario y alquien de nuestros equipo de trabajo se pondra en contacto con usted tam
                        pronto como sea posible
                    </p>
                    <p>Vuela V</p>
                </div>
            </div>

        </div>
      <br>
        <div id="map">
          <h2 class="logo">Ubicacion</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.744819516696!2d-78.98940068573701!3d-2.889754640290818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cd182f69eacd69%3A0xdd4f5ca5e9005fa7!2sAeropuerto%20Mariscal%20La%20Mar!5e0!3m2!1ses!2sec!4v1655220370405!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
    </section>


</div>
