<div *ngIf="logging==false">
  <mat-card style="width: 90%; margin: 1% auto; text-align: center; font-size: 25px">PROMOCIONES, ¡NO ES ESPERES Y COMPRA TU BOLETO AHORA!</mat-card>
  <mat-card style="width: 90%; margin: 1% auto; text-align: center; background-color: transparent">
    <div *ngFor="let promocion of promociones">
      <mat-card class="example-card" style="background-image: url('assets/icons/—Pngtree—airplane travel discount ticket_1012044.jpg');">
        <mat-card-header>
          <strong>{{promocion.descuento}}%</strong>
        </mat-card-header>
        <mat-card-content style="background-color: white; border-radius: 5%">
          <mat-divider></mat-divider>
          <h1>{{promocion.vuelo?.rutaResponse?.origen}}-{{promocion.vuelo?.rutaResponse?.destino}}</h1>
          <h2>{{promocion.descripcion}}</h2>
          <h2>Vuelo: {{promocion.vuelo?.fechaVuelo | date: 'medium'}}</h2>
          <h2 *ngIf="promocion.vuelo?.estado==true">DISPONIBLES</h2>
          <h2 *ngIf="promocion.vuelo?.estado==false">NO DISPONIBLES</h2>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="warn" [routerLink]="['/inicio/vuevoticket',promocion.vuelo?.id]">COMPRAR BOLETO</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card>
</div>
<div *ngIf="logging">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
  <mat-progress-bar mode="query" color="accent"></mat-progress-bar>
</div>
